
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;   
}

section{
display:flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100vh;
background-color: yellow;
}

.contenedor{
    position: relative;
}