body {
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  background-color: #f0f353;
  margin: 0;
  padding: 0;
}

.h1 {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.contenedor {
  background-color: #fffdfd;
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

.form-contenedor {
  background-color:#f3f3f3;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  margin-top: 0 auto;
  margin: 10px 0;
  display: inline-block;
  font-size: 18px;
  overflow: hidden;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-femcal {
  float: center;
  size: 5%;
  width: 20%;
  height: 20%;
}